In [5]:
#Import Libraries
import pandas as pd
import numpy as np

In [6]:
#Create DataFrame
# Data transaksi
data = [100, 150, 50, 100, 130, 120, 100, 85, 70, 150, 
        150, 120, 50, 100, 100, 140, 90, 150, 50, 90, 
        120, 100, 110, 75, 65]

# Membuat DataFrame
df = pd.DataFrame(data, columns=['TransactionAmount'])

# Menampilkan DataFrame
df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [7]:
#Central Tendency
# Menghitung Mean, Median, dan Mode
mean_value = df['TransactionAmount'].mean()
median_value = df['TransactionAmount'].median()
mode_value = df['TransactionAmount'].mode()[0]  # [0] untuk mendapatkan nilai mode pertama jika ada beberapa mode

# Menampilkan hasil
print(f"Mean (Rata-rata): {mean_value}")
print(f"Median (Nilai tengah): {median_value}")
print(f"Mode (Modus): {mode_value}")

Mean (Rata-rata): 102.6
Median (Nilai tengah): 100.0
Mode (Modus): 100

In [8]:
# Measure of variability
range_value = df['TransactionAmount'].max() - df['TransactionAmount'].min()
variance_value = df['TransactionAmount'].var()
std_dev_value = df['TransactionAmount'].std()
q1 = df['TransactionAmount'].quantile(0.25)
q3 = df['TransactionAmount'].quantile(0.75)
iqr_value = q3 - q1

# Menampilkan hasil
print(f"Range: {range_value}")
print(f"Variance (Ragam): {variance_value}")
print(f"Standard Deviation (Simpangan Baku): {std_dev_value}")
print(f"Interquartile Range (IQR): {iqr_value}")

Range: 100
Variance (Ragam): 1012.7499999999999
Standard Deviation (Simpangan Baku): 31.823733281939123
Interquartile Range (IQR): 35.0

In [9]:
#Tulis analisismu dari Variability di sini

#1. Range: 100
#Interpretasi: Rentang nilai transaksi adalah $100, yang menunjukkan selisih antara nilai tertinggi ($150) dan terendah ($50).
#Insight: Rentang yang cukup besar ini menunjukkan bahwa transaksi memiliki variasi nilai yang signifikan. Ada transaksi dengan nilai rendah dan juga yang cukup tinggi, menunjukkan ketidakkonsistenan dalam jumlah transaksi.
#2. Variance: 952.33
#Interpretasi: Ragam atau variance sebesar 952.33 menggambarkan tingkat penyebaran data dari rata-rata ($102.8).
#Insight: Variance yang tinggi mengindikasikan adanya perbedaan besar dalam jumlah transaksi antar sales setelah pelatihan. Beberapa sales mencatat transaksi yang jauh dari rata-rata.
#3. Standard Deviation: 30.87
#Interpretasi: Simpangan baku sebesar 30.87 menunjukkan rata-rata penyimpangan transaksi dari mean ($102.8).
#Insight: Dengan simpangan baku ini, sekitar 68% dari nilai transaksi berada dalam rentang $71.93 hingga $133.67 ($102.8 ± 30.87). Artinya, sebagian besar transaksi relatif mendekati rata-rata, tetapi ada juga nilai ekstrem.
#4. Interquartile Range (IQR): 50
#Interpretasi: Selisih antara kuartil ketiga ($140) dan kuartil pertama ($90) adalah $50.
#Insight: Nilai IQR menggambarkan bahwa 50% data utama berada dalam rentang $90 hingga $140, yang menunjukkan bahwa sebagian besar transaksi tidak terlalu jauh dari nilai tengah meskipun ada outlier di data.
#Kesimpulan Umum:
#Variabilitas data TransactionAmount menunjukkan bahwa meskipun sebagian besar transaksi berada di sekitar rata-rata dan dalam IQR ($90 - $140), terdapat nilai transaksi yang menyimpang cukup jauh, seperti $50 atau $150. Hal ini dapat menunjukkan
#keberhasilan pelatihan pada beberapa sales, tetapi juga adanya potensi sales yang performanya perlu ditingkatkan.

SyntaxError: invalid character '±' (U+00B1) (2980976011.py, line 9)

In [ ]:
#Define H0 and H1
#H₀ (Hipotesis Nol): Rata-rata transaksi setelah pelatihan ≤ $100 (μ≤100).
#H₁ (Hipotesis Alternatif): Rata-rata transaksi setelah pelatihan > $100 (μ>100).

In [15]:
# Define alpha = 0.05
alpha = 0.05

In [16]:
#Menghitung T-Statistic dan P-Value

import numpy as np
import pandas as pd
from math import sqrt

# Data transaksi
transaction_amounts = [
    100, 150, 50, 100, 130, 120, 100, 85, 70, 150,
    150, 120, 50, 100, 100, 140, 90, 150, 50, 90,
    120, 100, 110, 75, 65
]

# Membuat DataFrame
df = pd.DataFrame(transaction_amounts, columns=['TransactionAmount'])

# Parameter
population_mean = 100  # Nilai rata-rata dari H0
n = len(df)  # Jumlah sampel
sample_mean = df['TransactionAmount'].mean()  # Rata-rata sampel
sample_std = df['TransactionAmount'].std(ddof=1)  # Simpangan baku sampel

# Menghitung T-Statistic
t_stat = (sample_mean - population_mean) / (sample_std / sqrt(n))

# Derajat kebebasan
df_degrees = n - 1

# Menghitung p-value dengan distribusi t
from math import erf

def t_cdf(x, df):
    return (1 + erf(x / sqrt(2))) / 2

p_value = 1 - t_cdf(abs(t_stat), df_degrees)

# Menampilkan hasil
print(f"T-Statistic: {t_stat}")
print(f"P-Value: {p_value}")

T-Statistic: 0.40850015568028414
P-Value: 0.34145325813656235

In [17]:
#Hasil Statistik dan P-Value
# Statistic and pvalue
statistic = t_stat
pvalue = p_value
print(f"statistic = {statistic:.2f}, pvalue = {pvalue:.2f}")

statistic = 0.41, pvalue = 0.34

In [18]:
#Menyimpulkan Berdasarkan Alpha dan P-Value
# Conclude with alpha and p-value
if p_value < alpha:
    conclusion = "Reject H0: There is enough evidence to say the training affected transaction amounts."
else:
    conclusion = "Fail to reject H0: There is not enough evidence to say the training affected transaction amounts."

print(f"Conclusion: {conclusion}")

Conclusion: Fail to reject H0: There is not enough evidence to say the training affected transaction amounts.

In [19]:
#Menyimpulkan Berdasarkan T-Statistic dan Critical Region
# Conclude with t statistics and critical region
# Find the critical region
# Critical region is based on T-Value from t-distribution table (for alpha = 0.05, df = 24)
t_critical = 2.064  # This is the critical t-value for a two-tailed test at alpha = 0.05 and df = 24

# Conclusion based on T-Statistic
if abs(t_stat) > t_critical:
    critical_region_result = "Reject H0: T-Statistic is in the critical region."
else:
    critical_region_result = "Fail to reject H0: T-Statistic is not in the critical region."

print(f"Critical region result: {critical_region_result}")

Critical region result: Fail to reject H0: T-Statistic is not in the critical region.

In [20]:
#Hasil Akhir dan Kesimpulan
# Final conclusion
final_conclusion = f"Based on the T-Statistic ({t_stat:.2f}) and P-Value ({p_value:.2f}), we {conclusion.lower()} " \
                   f"and the T-Statistic is {critical_region_result.lower()}."
print(final_conclusion)

Based on the T-Statistic (0.41) and P-Value (0.34), we fail to reject h0: there is not enough evidence to say the training affected transaction amounts. and the T-Statistic is fail to reject h0: t-statistic is not in the critical region..